*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #000;
  --primary-color: #fff;
  --secondary-color: orange;
  --btn-bg-color: #1e1e1e;
  --btn-size: 4.5rem;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
}

body {
  background-color: #4d4a4a;
}

main {
  background-color: #4d4a4a;
  display: grid;
  place-items: center;

  width: 100vw;
  min-height: 90vh;
}

.wrapper {
  display: grid;
  place-items: center;

  border-radius: 1.5rem;
  background-color: var(--bg-color);
  padding: var(--space-xs);
  width: min(370px, 100%);
  box-shadow: 0 0 15px;
}

.calculator {
  background-color: var(--bg-color);
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 1.5rem;
}

.calculator > div {
  padding-block: var(--space-sm);
  width: 90%;
  justify-self: center;
}

.screen {
  display: grid;
  place-items: center;
  gap: var(--space-xs);
}

.display {
  border: none;
  width: 100%;
  height: 3.6rem;
  text-align: end;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 2rem;

  resize: none;
  scrollbar-width: none;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#result-display {
  font-size: 1.25rem;
  height: 1.4rem;
  color: var(--primary-color);
  opacity: 0.6;
  justify-self: end;
}

.calculator div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.erase {
  color: var(--secondary-color);
  background: none;
  border: none;
  padding-right: 10px;
  cursor: pointer;
  font-size: 1.3rem;
}

.horizontal-line {
  background-color: #ca8f20;
  border: none;
  margin: 0;
  height: 2px;
  width: 90%;
  justify-self: center;
}

.buttons-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-xs);
}

.round-btn {
  background-color: var(--btn-bg-color);
  color: var(--primary-color);

  border: 0;
  border-radius: 50%;
  height: var(--btn-size);
  min-width: 0;
  font-size: min(10vw, 2rem);
  cursor: pointer;
}

.red-btn {
  color: red;
}

.orange-btn {
  color: var(--secondary-color);
  font-weight: 600;
}

.answer-btn {
  background-color: var(--secondary-color);
  font-weight: 600;
}

.error-display {
  color: var(--primary-color);
  background-color: #3d3c3c;
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--space-xs);
  border-radius: 1rem;

  width: max-content;
  white-space: nowrap;
  font-size: 1.25rem;
}
