*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #000;
  --primary-color: #fff;
  --secondary-color: orange;
  --btn-bg-color: #3d3c3c;
  --btn-size: clamp(3.5rem, 6vw, 4.5rem);
}

main {
  background-color: #4d4a4a;
  display: grid;
  place-items: center;

  height: 100vh;
  min-width: 330px;
}

.wrapper {
  display: grid;
  place-items: center;

  border-radius: 1.5rem;
  background-color: var(--bg-color);
  padding: 0.5rem;
  width: clamp(300px, 32vw, 370px);
  box-shadow: 0 0 15px;
}

.calculator {
  background-color: var(--bg-color);
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 1.5rem;
}

.calculator > div {
  padding-block: 1rem;
  width: 90%;
  justify-self: center;
}

.screen {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.display {
  border: none;
  width: 100%;
  text-align: end;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: clamp(1.85rem, 3vw, 2rem);

  resize: none;
  scrollbar-width: none;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#result-display {
  font-size: 1.25rem;
  color: var(--primary-color);
  opacity: 0.6;
  justify-self: end;
}

.calculator div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.erase {
  color: var(--secondary-color);
  background: none;
  border: none;
  padding-right: 10px;
  cursor: pointer;
  font-size: clamp(1em, 1.5vw, 1.3rem);
}

.horizontal-line {
  background-color: #ca8f20;
  border: none;
  margin: 0;
  height: 2px;
  width: 90%;
  justify-self: center;
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.round-btn {
  background-color: var(--btn-bg-color);
  color: var(--primary-color);

  border: 0;
  border-radius: 50%;
  width: var(--btn-size);
  height: var(--btn-size);
  font-size: clamp(1.5em, 2.8vw, 2rem);
  cursor: pointer;
}

.red-btn {
  color: red;
}

.orange-btn {
  color: var(--secondary-color);
  font-weight: 600;
}

.answer-btn {
  background-color: var(--secondary-color);
  font-weight: 600;
}
